{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": [
          { "components": "./src/components" },
          { "screens": "./src/screens" },
          { "utils": "./src/utils" },
          { "api": "./src/api" },
          { "context": "./src/context" }
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ]
}